
@model  MovieProject.Models.User

@{
    ViewBag.Title = "Login Now";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="@Url.Action("LoginView", "Auth")" class="p-4 text-white" method="post">
    @Html.AntiForgeryToken()
    @if (Session["Logined"] == null)
    {
        <div class="alert alert-danger" role="alert">
            Enter email and password correctly
        </div>
        
    }
    @{Session["Logined"] = null;
    }
    <div class="form-group">
        <label for="email"><i class="fas fa-envelope"></i> Email</label>
        <input type="email" class="form-control" name="Email">
    </div>
    <div class="form-group">
        <label for="pwd"><i class="fas fa-lock"></i> Password</label>
        <input type="password" class="form-control" id="pwd" name="Password">
    </div>
    <button type="submit" class="btn btn-warning mb-3 mt-3 float-right">Login</button>
</form>
